<nav class="navbar navbar-expand-lg navbar-primary opanav bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GALLERY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if user_signed_in?%>
          <a class="nav-link active" aria-current="page" href="/albums">Home</a>
          <%else%>
          <a class="nav-link active" aria-current="page" href="/home/index">Home</a>
          <%end%>    
        </li>
       
        <li class="nav-item">
    
         

        </li>      
      </ul>
      

       <% if user_signed_in? %>
<%= link_to "Signout" , destroy_user_session_path ,method: :delete ,class: "text-decoration-none btn btn-danger me-2"%>
  
  
<% else %>
    <%= link_to "LogIn" , new_user_session_path ,class: "text-decoration-none btn btn-danger me-2" %>
  <%end%>

<%= link_to "SignUp" , new_user_registration_path ,class: "text-decoration-none btn btn-danger" %>
    </div>
  </div>
  
</nav>